src/flows/Create_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_order_product_to_list</name>
        <label>Add order product to list</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>OrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_opportunity_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Product</name>
        <label>Assign Order Product</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_opportunity_products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_opportunity_products.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_opportunity_products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_order_product_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_order_products</name>
        <label>Are there any order products</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order</label>
    <loops>
        <name>Iterate_through_opportunity_products</name>
        <label>Iterate through opportunity products</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_order_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyAuthorizedById</field>
            <value>
                <elementReference>$Record.CompanySignedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerAuthorizedById</field>
            <value>
                <elementReference>$Record.CustomerSignedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputReference>OrderItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_opportunity_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order_0</name>
        <label>Activate Order</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Activate_Order_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
